<html>

<head></head>

<body>
    <img src="https://mirrar-backend-v2-images.s3.ap-south-1.amazonaws.com/4e25647b-eade-4242-b325-521de85a1f09/1689915230928_default_Logo_Mirrar.png"
        alt="Company Logo" />
    <p>Hello,<%= userName %></p>
    <p>User IP Address: <%= ip %> </p>
    <p>User location: <%= location %> .</p>
    <p>This link will be expired in <%= expiryPeriod %> hours.</p>
    <p>Please click the link to reset your password.</p>
    <a href=<%=redirectLink %>><button>Click here</button></a>
</body>

</html>